body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F8C8DC;
}

.header_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Responsive styles */
@media only screen and (max-width: 280px) {
    .header_text {
        font-size: 30px;
    }
    
    img {
        height: 50vh;
        width: auto;
    }
}

@media only screen and (max-width: 414px) {
    .header_text {
        font-size: 40px;
    }
    
    img {
        height: 55vh;
        width: auto;
    }
}

@media only screen and (orientation: landscape) and (max-height: 500px) {
    body {
        height: auto;
        padding: 20px 0;
    }
    
    img {
        height: 45vh;
    }
}
